<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb | GenericFailure</title>
</head>
<body>
    <h3>User - <%= email%></h3>
    <h2>Something went wrong!</h2>
    <h3>Please note that your link has an expiration of 3 minutes right from the time it was sent to you.</h3>
    <button id="goBackButton">Go Back</button>
</body>
<script>
     document.getElementById('goBackButton').addEventListener('click', function() {
            window.history.back();
        });
</script>
    
</body>
</html>