<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb | Reset-Password</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');
    *{
        font-family: 'Mukta', sans-serif;
    }
    .container{
        border:2px solid gray;
        width: 60%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    button,input[type ='submit']{
        padding: .3rem 1rem;
        background-color: #FF385C;
        color: #fff;
        border: 0;
        outline: 0;
        border-radius: 5px;
    }
    form{
        padding: 1rem 3rem;
    }
    h3{
        color: green;
    }
</style>
<body>
        <div class="container">
            <img src="/emailHeader.jpg" alt="airbnbHeader" style="display: block;object-fit: cover;height:100px;width:100%;">
            <form method="post">
              <h3>User - <%= email%></h3>
              <label for="password">New Password:</label> <br>
                <input type="text" name="password" id="password" required> <br>
              <label for="password">Confirm Password:</label> <br>
                <input type="text" name="confirmPassword" id="confirmPassword" required> <br>
                 <input type="submit" value="submit">
            </form>
        </div>
</body>
</html>